<style>
    img {
        height: auto;
        max-width: 300px;
        width: 100%;
        object-fit: cover;
    }
    div>p {
        display: flex;
        flex-direction: column
    }
    .col {
        width: 33.33%;
    }
</style>
<div style="display: flex;flex-wrap: wrap">
    <p class="col">
        <label for="image">
            Image Normal
        </label>
        <img id="image" src="{{ first }}" alt="">
    </p>
    <p class="col">
        <label for="gray">
            Image Gray
        </label>
        <img id="gray" src="{{ second }}" alt="">
    </p>
    <p class="col">
        <label for="third">
            Binarizaton image with algoritm otsu
        </label>
        <img id="third" src="{{ third }}" alt="">
    </p>
    <p class="col">
        <label for="fourth">
            Noise salt and pepper
        </label>
        <img id="fourth" src="{{ fourth }}" alt="">
    </p>
    <p class="col">
        <label for="fifth">
            Noise gauss
        </label>
        <img id="fifth" src="{{ fifth }}" alt="">
    </p>
    <p class="col">
        <label for="brightness_up">
            brightness_up
        </label>
        <img id="brightness_up" src="{{ brightness_up }}" alt="">
    </p>
    <p class="col">
        <label for="brightness_down">
            brightness_down
        </label>
        <img id="brightness_down" src="{{ brightness_down }}" alt="">
    </p>
    <p class="col">
        <label for="normalfirst">
            normal 100*50
        </label>
        <img id="normalfirst" src="{{ normalfirst }}" alt="">
    </p>
    <p class="col">
        <label for="normalsecond">
            normal 50*100
        </label>
        <img id="normalsecond" src="{{ normalsecond }}" alt="">
    </p>
    <p class="col">
        <label for="contrast">
            contrast
        </label>
        <img id="contrast" src="{{ contrast }}" alt="">
    </p>
</div>